.Background {
  --size: 3rem;
  --angle: 55deg;
  --color-1: var(--color-html-100);
  --color-2: rgb(255, 255, 255, 0.3);
  background-color: var(--color-1);
  background-image:
    linear-gradient(
      var(--angle),
      var(--color-2) 25%,
      transparent 25% 75%,
      var(--color-2) 75%
    ),
    linear-gradient(
      calc(-1 * var(--angle)),
      var(--color-2) 25%,
      transparent 25% 75%,
      var(--color-2) 75%
    );
  background-size: calc(var(--size) * cos(var(--angle))) var(--size);
  background-position:
    0 0,
    calc(var(--size) * cos(var(--angle))) var(--size);
}
