@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}
.animate-shine {
  background-size: 200% 100%;
  animation: shine 3s infinite linear;
}
.title {
  font-size: 6rem;
}
.title-gradation {
  background: linear-gradient(
    to bottom,
    var(--color-html-500) 25%,
    var(--color-html-300) 50%,
    var(--color-html-500) 60%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.title-stroke {
  -webkit-text-stroke: 0.03em white;
  text-stroke: 0.03em white;
  paint-order: stroke fill;
  font-weight: 900;

  filter: drop-shadow(0.06em 0.04em 0 black);
}
